// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


.modal-fullscreen {
  background-color: rgb(80, 86, 89);
  .modal-wrapper {
      position: absolute;
      top: 2.5%;
      left: 2.5%;
      display: block;
      width: 95%;
      height: 95%;
      background-color: rgb(80, 86, 89);
      animation-name: slide-from-bottom;
      animation-duration: 0.25s;
  }
}

@keyframes slide-from-bottom {
  0% {top: 50%; } //transform: rotateZ(180deg)
  100% {top: 2.5%; }
}